@{
    ViewBag.Title = "Home Page";
}
<h1>CHEVROLET</h1>
<p>
    General Motors fue fundada en 1911 en Detroit. En Argentina, actualmente se comercializa la marca Chevrolet, presente en más de 100 países y con un volumen de ventas anuales de más de 4 millones de vehículos. Chevrolet ofrece a los clientes vehículos con un consumo eficiente, óptimo desempeño, diseño innovador, equipamiento de seguridad pasiva y activa y tecnología de fácil utilización.


    En 2017, las operaciones en Argentina y Brasil se unieron para formar GM Mercosur. En ese mismo año Chevrolet vendió en ambos mercados 517.127 vehículos, de los cuales 394.157 fueron en Brasil y 122.970 en Argentina. GM Mercosur tiene 4 Complejos Industriales que producen vehículos, motores y componentes en Alvear, Argentina, y en São Caetano do Sul, São José dos Campos y Gravataí, Brasil.


    GM Mercosur busca lograr un negocio más sustentable e integrado logrando así sostener el liderazgo de Chevrolet en el mercado. La línea Chevrolet se distingue por sus servicios de conectividad, tecnología y seguridad que brinca a sus clientes. Con un rápido y fácil acceso, los usuarios pueden estar conectados en cualquier momento y lugar a través de sus dispositivos OnStar, que se encuentran en cada unidad de vehículos Chevrolet.
</p>